.ConfirmCode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ConfirmCode h2 {
  margin-bottom: 1em;
  text-align: center;
}

.ConfirmCode form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 2em;
}

.ConfirmCode .contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.ConfirmCode label {
  display: flex;
  align-items: center;
  font-size: large;
  margin-bottom: 0.5em;
}

.ConfirmCode svg {
  margin-right: 0.5em;
}

.ConfirmCode input {
  padding: 1em;
  box-sizing: border-box;
  border: none;
  background-color: #181818;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 1.5em;
  color: #f0f0f0;
}

.ConfirmCode .confirm-code-button {
  width: 50%;
  margin: 0 auto;
  height: 2.5em;
  background-color: rgba(20, 92, 163, 0.8);
  color: white;
  border-style: none;
  border-radius: 0.7em;
  font-size: medium;
}

.ConfirmCode .confirm-code-button:hover {
  cursor: pointer;
}

.ConfirmCode .confirm-code-button:active {
  opacity: 0.5;
}

.ConfirmCode .close-button {
  border: none;
  margin: 0 auto;
  background-color: transparent;
  color: #f0f0f0;
  font-size: medium;
  text-decoration: underline;
  width: 20%;
}

.ConfirmCode .close-button:hover {
  cursor: pointer;
}

.ConfirmCode .close-button:active {
  opacity: 0.5;
}
