.UserProfilePage .user-profile {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255);
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.UserProfilePage .title {
  display: none;
}

.UserProfilePage .user-img-and-email {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5em;
}

.UserProfilePage .user-circle {
  height: 2rem;
  width: 2rem;
}

.UserProfilePage .email {
  font-weight: 200;
  font-size: medium;
}

.UserProfilePage .user-name {
  padding: 1em 0;
  border-bottom: 1px black solid;
}

.UserProfilePage .purpose-section {
  padding: 1em 0;
  border-bottom: 1px black solid;
}

.UserProfilePage .section-label {
  margin-bottom: 0.5em;
  font-size: smaller;
}

.UserProfilePage .license-section {
  padding: 1em 0;
}

.UserProfilePage .logout-delete-buttons {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
  .UserProfilePage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .UserProfilePage .user-profile {
    margin: 1rem 0;
    padding: 3rem;
    width: 50%;
    height: 80%;
    border-radius: 1rem;
    border: 1px solid rgba(145, 140, 140, 0.695);
  }

  .UserProfilePage .title {
    border-bottom: 1px black solid;
    line-height: 1.5rem;
    display: block;
  }

  .UserProfilePage .user-img-and-email {
    justify-content: flex-start;
    margin-top: 1.5em;
  }

  .UserProfilePage .user-circle {
    height: 3rem;
    width: 3rem;
    margin: 0 1.5em;
  }
}
