.new-test-modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.new-test-modal {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 216, 216);
  height: 95%;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.new-test-modal .new-test-modal-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1em 2em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.new-test-modal form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}

.new-test-modal .form-minus-button {
  display: flex;
  flex-direction: column;
  width: calc(100%-2em);
  background-color: white;
  padding: 1em;
  margin: 1em 1em 2em 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
}

.new-test-modal .selected-acs-form-input {
  display: flex;
  justify-content: space-between;
}

.new-test-modal .acs-name {
  font-size: smaller;
}

.new-test-modal .selected-acs,
.new-test-modal .available,
.new-test-modal .num-questions {
  padding: 0.7rem 0;
  border-bottom: 1px solid black;
}

.new-test-modal input {
  padding: 0.7rem 0;
}

.new-test-modal .button-container {
  background-color: white;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.new-test-modal .create-button {
  width: 50%;
  margin: 0 auto;
  height: 2.5em;
  background-color: skyblue;
  color: white;
  border-style: none;
  border-radius: 0.7em;
  font-size: medium;
}

.new-test-modal .create-button:hover {
  cursor: pointer;
}

.new-test-modal .create-button:active {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .new-test-modal-overlay {
    align-items: center;
  }

  .new-test-modal {
    width: 30%;
    height: auto;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .new-test-modal .new-test-modal-header {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .new-test-modal .button-container {
    padding: 1em 2em;
  }
}
