.TestCard {
  border: 1px solid rgba(145, 140, 140, 0.695);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.5rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.TestCard .info-container {
  text-align: left;
}

.TestCard .button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TestCard h3 {
  margin: 0.5rem;
}

.TestCard p {
  margin: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .TestCard {
    width: 30%;
    margin: 1rem 0;
  }
}
