.TestsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .TestsContainer {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
