.TestQuestionCard {
  padding: 1rem;
  margin: 1rem 0;
  line-height: 1.5rem;
  box-sizing: border-box;
}

.answers-container {
  padding-bottom: 0.4rem;
  border-bottom: 1px black solid;
  box-sizing: border-box;
  font-size: smaller;
}

.certification-info {
  font-size: x-small;
  font-weight: bold;
}

.question {
  font-weight: 200;
  font-size: medium;
}

.answer:hover {
  cursor: pointer;
}

.answer:active {
  opacity: 0.5;
}

