.LessonCard {
  border: 1px solid rgba(145, 140, 140, 0.695);
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.3rem 0;
  width: 100%;
  height: auto;
  height: 30%;
  box-sizing: border-box;
  line-height: 1.5rem;
  position: relative;
}

.LessonCard .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.LessonCard .lesson-name-info {
  font-weight: 100;
  font-size: small;
}

.LessonCard .name-styles {
  font-weight: 100;
  font-size: smaller;
}

.LessonCard .lesson-name-info h4 {
  font-size: medium;
  font-weight: 100;
}

.LessonCard ul {
  display: flex;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.LessonCard .label-bottom-text {
  font-size: small;
}

.LessonCard .certification-abbreviations {
  padding: 0.5rem 0;
}

.LessonCard .delete-button {
  width: 5rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.LessonCard .download-button {
  width: 5rem;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .LessonCard {
    border-radius: 1rem;
    width: 60%;
    margin: 1rem 0;
  }
}
