.new-lesson-modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-lesson-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 1em;
}

.new-lesson-modal .close-button {
  margin-top: 1em;
  width: 20%;
}

.new-lesson-modal h2 {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
}

.new-lesson-modal form {
  display: flex;
  flex-direction: column;
}

.new-lesson-modal .lesson-name {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
}

.new-lesson-modal .lesson-name input {
  margin-top: 1em;
  border: none;
}

.new-lesson-modal .button-container {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 1em;
  box-sizing: border-box;
  background-color: white;
}

.new-lesson-modal .create-lesson-button {
  width: 50%;
  margin: 0 auto;
  height: 2.5em;
  background-color: skyblue;
  color: white;
  border-style: none;
  border-radius: 0.7em;
  font-size: medium;
}

.new-lesson-modal .create-lesson-button:hover {
  cursor: 
}

.new-lesson-modal .create-lesson-button:active {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .new-lesson-modal {
    width: 40%;
    height: 80%;
    padding: 2em 2em 0 2em;
  }
}
