.Header {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px black solid;
}

.Header h1 {
  color: rgba(20, 92, 163, 0.8);
  padding: 0.5em;
  font-weight: lighter;
}

.Header img {
  border-radius: 50%;
  width: auto;
  height: 70px;
}

.Header .user-icon {
  width: 2rem;
  height: 2rem;
}

.Header .user-icon:hover {
  cursor: pointer;
}

.Header .user-icon:active {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .Header {
    height: 29px;
    justify-content: space-evenly;
  }

  .Header .title-text {
    display: none;
  }
  .desktop-nav {
    display: none;
  }

  .Header img {
    height: 40px;
  }

  .logo {
    display: none;
  }

  .nav-and-page-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0.7rem;
  }

  .Header h2 {
    color: rgba(20, 92, 163, 0.8);
    font-weight: lighter;
    margin-left: -0.8rem;
  }
}

@media only screen and (min-width: 600px) {
  .Header h2 {
    display: none;
  }

  .Header a {
    text-decoration: none;
    color: white;
  }

  .Header .user-icon {
    width: 3rem;
    height: 3rem;
  }
}
