.Header {
  display: flex;
  padding: 1em;
  justify-content: space-around;
}

.Header h1 {
  color: #343e49;
  padding: 0.5em;
}
.Header nav ul {
  display: flex;
}

.Header .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 5px;
  background-color: #c0ccda;
}

.Header .nav-button:active {
  background-color: #63a0db;
}

.Header .active {
  background-color: #63a0db;
}

.Header a {
  color: white;
  text-decoration: none;
}

.Header img {
  border-radius: 50%;
  width: auto;
  height: 100px;
}
