.Header {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px black solid;
}

.Header h1 {
  color: rgba(20, 92, 163, 0.8);
  padding: 0.5em;
  font-weight: lighter;
}
.Header nav ul {
  display: flex;
}

.Header .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 5px;
  background-color: #c0ccda;
}

.Header .nav-button:active {
  background-color: #63a0db;
}

.Header .active {
  background-color: #63a0db;
}


.Header img {
  border-radius: 50%;
  width: auto;
  height: 70px;
}

@media only screen and (max-width: 600px) {
  .Header {
    height: 29px;
    justify-content: space-between;
  }

  .Header .title-text {
    display: none;
  }
  .desktop-nav {
    display: none;
  }

  .Header img {
    height: 40px;
  }

  .logo {
    display: none;
  }

  .nav-and-page-info {
    display: flex;
    align-items: center;
  }

  .Header h2 {
    color: rgba(20, 92, 163, 0.8);
    font-weight: lighter;
    margin-left: -0.8rem;
  }
}

@media only screen and (min-width: 600px) {
  .Header h2 {
    display: none;
  }

  .Header a {
    text-decoration: none;
    color: white;
  }
}
