.Header {
  display: flex;
}

.Header nav ul {
  display: flex;
}

.Header .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(192, 204, 218);
}

.Header .nav-button .active {
  background-color: rgb(99, 160, 209);
}

.Header .nav-button a {
  color: white;
  text-decoration: none;
}
