/* resets */

body,
h1,
h2,
h3,
h4,
ul,
li,
p,
div {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  font-family: "Open Sans", sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App main {
  background: linear-gradient(rgba(99, 160, 219, 0.5), rgba(99, 160, 219, 0.5)),
    url("./assets/map-app-bkgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  opacity: 0.8;
  flex: 1;
}
